.Home {
  position: fixed;

  top: 45%;
  left: 42%;
  /* margin-top: -100px;
  margin-left: -100px; */
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
