.left {
  position: fixed;
  float: left;
  width: 65%;
  height: 100%;
  background-color: #23a3c4;
  /* background: #c9f4ff; */
  /* background-color: rgb(243, 251, 255); */
  /* background: linear-gradient(90deg, #9a7197 0%, #9d96b8 35%, #afd2e9 100%); */
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* border-right: 2px solid rgb(217, 221, 246); */
}

.img {
  width: 87%;
  margin-top: 5%;
}

.right {
  position: relative;
  float: right;
  width: 35%;
  height: 100%;
  margin-top: 7%;
}

Form {
  margin: 60px;
}

Form h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Fredoka One", cursive;
  /* text-shadow: black 0.1em 0.1em 0.2em; */
  color: #000;
}

Form h6 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Prompt", sans-serif;
  font-weight: 700;
}

.registers-button {
  display: flex;

  text-align: right;
  margin-left: 55%;
}

.registers-button p {
  color: rgb(141, 141, 141);
}

.registers-button p2 {
  padding-left: 10px;
  color: #23a3c4;
}

.registers-button p2:hover {
  padding-left: 10px;
  color: rgb(141, 141, 141);
}

.login-psychologist p3 {
  color: #23a3c4;
  text-decoration: none;
}

.login-psychologist p3:hover {
  color: rgb(141, 141, 141);
  text-decoration: none;
}

/* .register-button button {
  text-decoration: none;
  color: rgb(141, 141, 141);
} */

.register-button a {
  text-decoration: none;
  color: #23a3c4;
  display: flex;
  text-align: right;
  margin-left: 5px;
}

.login-button {
  width: 100%;
  /* background-color: #219ebc; */
}

/* .login-button:hover {
  background-color: #219dbcb7;
} */

.login-button a {
  text-decoration: none;
  color: #fff;
}

.login-button a:hover {
  color: #fff;
}
